@media screen and (min-width: 450px) {
	#oneD {
		background-image: linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.2)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/maindaisy.png?alt=media&token=3625ed40-c91a-4404-b996-d4928b76148e");
	}

	#two2 {
		background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("");
	}

	#three3 {
		background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("");
	}

	#mockD {
		background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("");
	}
}

@media screen and (max-width: 450px) {
	#oneD {
		background-image: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0, 0.1)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/maindaisymob.png?alt=media&token=99659599-7086-47d4-a44b-cd937f17bc53");
	}

	#two2 {
		background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("");
	}

	#three3 {
		background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("");
	}

	#mockD {
		background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("");
  	}
}

.block1 {
    height: 140vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}