@media screen and (min-width: 450px) {
	#oneRed {
		background-image: linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.2)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/redv3.1.jpg?alt=media&token=510ada83-49be-4491-8240-3a12e5e06edb");
	}

	#two2 {
		background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/red1.png?alt=media&token=9206ec16-aa5d-410d-8195-139da1642385");
	}

	#three3 {
		background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/redgrid.png?alt=media&token=701ae8de-0f37-4170-a947-1e25ea3ff719");
	}

	#mockred {
		background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/mocred.jpg?alt=media&token=fee2108d-49b5-4a6e-ade9-5d003526a7a6");
	}
	
	.mainmob_web img {
		display: none;
	}
	
	.main_web img {
		width: 100%;;
	}
}

@media screen and (max-width: 450px) {
	#oneRed {
		background-image: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0, 0.1)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/redmainmob1.png?alt=media&token=28740efa-b476-4437-a05e-db9df16b39e1");
	}

	#two2 {
		background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/redonemob.png?alt=media&token=a9f0788e-8f84-40cb-956d-dd02bca3c2ab");
	}

	#three3 {
		background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/redgridmob.png?alt=media&token=acfe3f69-eba4-4bce-a132-700a88a46532");
	}

	#mockred {
		background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/mockupred1.jpg?alt=media&token=7dd337a1-0729-4d2f-b242-580d3eff0c89");
  	}
  
	.main_web img {
		display: none;
	}
	
	.mainmob_web img {
		width: 100%;;
	}
}

.block1 {
    height: 140vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}