#one {
	background-image: linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.2)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/main.jpg?alt=media&token=2a82d755-e64d-464d-8a3f-b3e67603f37a");
  }

#two {
	background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/vart2.png?alt=media&token=e1ba597e-5a89-43c3-a133-83c49f7d565a");
  }

#three {
	background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/vart.png?alt=media&token=e0d7e24f-620b-458e-97a1-03e244653599");
  }

 #typo {
	background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/font.jpg?alt=media&token=ed873242-292f-4fd6-8eaa-da183025e281");
  }

#lettersvtc {
	background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/letters1.png?alt=media&token=3e2bcbed-9acf-4511-9a51-94a87ae6515f");
  }

#font {
	background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/fontgrid.jpg?alt=media&token=d4a15ede-ddff-4105-9c50-ae2c4583ba72");
  }

#mockup1 {
	background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0)), url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/mockup.jpg?alt=media&token=5ae2482d-8254-4148-968d-c853620a000f");
  }

.blockvtc {
    height: 110vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.textvtc {
	position: absolute;
	width: 100%;
	bottom: 10%;
	left: 10%;
	background-color: rgba(255, 255, 255, 0.8);
	color: rgba(0,0,0, 0.7);
	padding: 30px;
  }

.textvtc h4 {
	font-size: 40px;
}

.textvtc p {
	font-size: 20px;
}
.end {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 35vh;
	width: 100%;
}

.but {
	height: 100%;
	width: 100%;
	border: none;
	margin-bottom: 50px;
}

.but:hover {
	border: none;
}