#w1 {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/mainku.png?alt=media&token=329a2884-037f-4be6-aa85-6241d93c07b3");
}

#w2 {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/mainlvl.png?alt=media&token=bd489df4-5782-4fea-9722-3dc632f30bac");
}

#w3 {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/mainmk.png?alt=media&token=0acf059f-791e-4f25-90af-992b38ae47de");
}

#w4 {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/mainpapa.png?alt=media&token=6e4c16ea-41b8-47df-bad2-16548f41f5e0");
}

#w5 {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/makotty-web.appspot.com/o/mainkuz.png?alt=media&token=bdf9654b-37dc-4e7c-9b66-0c196ce3217f");
}

.block a {
	text-decoration: none;
}

h1 {
	font-size: 45px;
}

.block a {
	color: black;
}

.block h3 {
	color: black;
}

.main_web img {
	width: 100%;
}

@media screen and (min-width: 450px) {
	.block {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.block img {
		width: 50%;
	}
}

@media screen and (max-width: 450px) {
	.block img {
		display: none;
	}

	.webtext {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}